name: CI

on: [push, pull_request]

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        # >= focal provide a working C++17 compiler
        # appimagebuild, too, via devtoolset-9
        DIST: [focal, appimagebuild]
        ARCH: [x86_64, i386]

        include:
          - DIST: focal
            ARCH: x86_64
            BUILD_TYPE: coverage
          - DIST: focal
            ARCH: x86_64
            BUILD_TYPE: ""
            LIBAPPIMAGE_SHARED_ONLY: 1

    name: ${{ matrix.BUILD_TYPE }} ${{ matrix.DIST }} ${{ matrix.ARCH }} shared-only=${{ matrix.LIBAPPIMAGE_SHARED_ONLY }}
    runs-on: ubuntu-latest
    env:
      ARCH: ${{ matrix.ARCH }}
      DIST: ${{ matrix.DIST }}
      BUILD_TYPE: ${{ matrix.DIST }}
      LIBAPPIMAGE_SHARED_ONLY: ${{ matrix.LIBAPPIMAGE_SHARED_ONLY }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build libappimage and run tests
        run: bash -ex ci/build-in-docker.sh
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt-get install -y doxygen
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build API docs
        run: cd docs/ && ./make.sh html
